.place-order{
    margin-top: 100px;
}
.place-order-left{
    max-width: max(30%, 500px);
}
.place-order-left input{
    padding: 10px;
}
.place-order-right{
    max-width: max(40%, 500px);
}

@media (max-width: 750px) {
  .place-order {
    flex-direction: column;
  }
  .place-order-left,
  .place-order-right {
    width: 100%;
  }
  .place-order .title {
    font-size: 20px;
  }
  .place-order-right {
    margin-top: 50px;
  }
  .place-order .button {
    width: 100%;
  }
}