@import "tailwindcss";


@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.fadeIn-animations{
    animation: fadeIn 0.5s;
}




.login-popup{
   
    margin-top: 0;
}
.login-popup-container{
    width: max(23vw,330px);
    gap: 25px;
    padding: (25px,30px);
    width: 500px;
   
}

.login-popup-inputs input{
    margin-top: 15px;
    height: 45px;
    padding-left: 10px;
    border: none;

}
.login-popup-condition{
    margin-top: 30px;
    font-size:15px;
}
